<template>
  <div class="header-top">
    <div class="user-title">洛宜诗客户端后台</div>
    <div class="user-info">
      <p>欢迎admin登陆<span></span></p>
      <el-dropdown trigger="click" @command="handleCommand">
        <i class="el-icon-arrow-down el-icon--right" style="margin-right: 15px"></i>
        <el-dropdown-menu slot="dropdown">
          <el-dropdown-item command="0">修改密码</el-dropdown-item>
          <el-dropdown-item command="1">退出登录</el-dropdown-item>
        </el-dropdown-menu>
      </el-dropdown>
    </div>
  </div>
</template>

<script type="text/ecmascript-6">
import { adminLogout } from '@/api/login'
import globals from '@/service/config.js'

export default {
  props: [],
  name: '',
  data() {
    return {

    }
  },
  components: {

  },
  computed: {

  },
  mounted() {

  },
  methods: {
    handleCommand(type) {
      switch (type) {
        case '0':
          return 'ddd'
        case '1':
          this.loginOut()
      }
    },
    async loginOut() {
      try {
        let { data } = await adminLogout()
        globals.loginCall()
      } catch (error) {
        console.log(error)
      }
    }
  }
}
</script>

<!-- Add 'scoped' attribute to limit CSS to this component only -->
<style scoped type='text/scss' lang='scss' rel='stylesheet/css'>
.header-top {
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .user-title {
    text-align: left;
    padding-left: 20px;
    font-size: 16px;
  }
  .user-info {
    display: flex;
    align-items: center;
    p {
      font-size: 16px;
      padding-right: 18px;
    }
    .el-dropdown-link {
      cursor: pointer;
    }
  }
}
</style>
<style>
.el-dropdown-menu {
  top: 60px !important;
}
</style>

