<template>
  <el-aside width="200px">
    <el-scrollbar style="height:100%">
      <el-menu router :collapse-transition="true" :unique-opened="true" :default-active='$route.path'>
        <div class="logo">管理后台</div>
        <el-submenu index="visual">
          <template slot="title">
            <i class="el-icon-menu"></i>
            <span>首页</span>
          </template>
          <el-menu-item index="/visual-reports">
            <i class="el-icon-tickets"></i>
            <span>可视报表</span>
          </el-menu-item>
          <el-menu-item index="/integral-reports">
            <i class="el-icon-tickets"></i>
            <span>积分报表</span>
          </el-menu-item>
          <el-menu-item index="/complaint-handling">
            <i class="el-icon-tickets"></i>
            <span>投诉处理</span>
          </el-menu-item>
        </el-submenu>
        <el-menu-item index="/habit-list">
          <i class="el-icon-news"></i>
          <span>健康习惯</span>
        </el-menu-item>
        <el-menu-item index="/lose-expert">
          <i class="el-icon-date"></i>
          <span>精选</span>
        </el-menu-item>
        <el-menu-item index="/circle-log">
          <i class="el-icon-message"></i>
          <span>朋友圈</span>
        </el-menu-item>
        <el-submenu index="activity">
          <template slot="title">
            <i class="el-icon-bell"></i>
            <span>活动</span>
          </template>
          <el-menu-item index="/activity-list">
            <i class="el-icon-tickets"></i>
            <span>活动列表</span>
          </el-menu-item>
          <el-menu-item index="/ranking-list">
            <i class="el-icon-tickets"></i>
            <span>排行榜</span>
          </el-menu-item>
        </el-submenu>
        <el-submenu index="domestic">
          <template slot="title">
            <i class="el-icon-more-outline"></i>
            <span slot="title">用户中心</span>
          </template>
          <el-menu-item index="/domestic-consumer">
            <i class="el-icon-tickets"></i>
            <span>普通用户列表</span>
          </el-menu-item>
          <el-menu-item index="/coach-list">
            <i class="el-icon-tickets"></i>
            <span>教练列表</span>
          </el-menu-item>
        </el-submenu>
        <el-submenu index="commodity">
          <template slot="title">
            <i class="el-icon-goods"></i>
            <span slot="title">商城</span>
          </template>
          <el-menu-item index="/commodity-list">
            <i class="el-icon-tickets"></i>
            <span>商品列表</span>
          </el-menu-item>
          <el-menu-item index="/commodity-total-list">
            <i class="el-icon-tickets"></i>
            <span>商品统计列表</span>
          </el-menu-item>
        </el-submenu>
        <el-submenu index="integration">
          <template slot="title">
            <i class="el-icon-setting"></i>
            <span slot="title">系统设置</span>
          </template>
          <el-menu-item index="/integration-rule">
            <i class="el-icon-tickets"></i>
            <span>积分规则</span>
          </el-menu-item>
          <el-menu-item index="/customer-seetings">
            <i class="el-icon-tickets"></i>
            <span>客服设置</span>
          </el-menu-item>
          <el-menu-item index="/notification">
            <i class="el-icon-tickets"></i>
            <span>消息推送</span>
          </el-menu-item>
          <el-menu-item index="/questionnaire-settings">
            <i class="el-icon-tickets"></i>
            <span>问卷分组设置</span>
          </el-menu-item>
          <el-menu-item index="/survey-entering">
            <i class="el-icon-tickets"></i>
            <span>调查问卷录入</span>
          </el-menu-item>
        </el-submenu>
        <el-menu-item index="/order-manage">
          <i class="el-icon-sold-out"></i>
          <span>订单管理</span>
        </el-menu-item>
      </el-menu>
    </el-scrollbar>
  </el-aside>
</template>

<script type="text/ecmascript-6">
import RouterConfig from '@/router/router.config.json'

export default {
  props: [],
  name: '',
  data() {
    return {
      defaultOpen: ''
    }
  },
  components: {

  },
  computed: {
    permissions() {
      return RouterConfig.map((el) => {
        return el.name
      })
    },
  },
  mounted() {
    this.defaultOpen = this.$route.path
  },
  methods: {

  }
}
</script>

<!-- Add 'scoped' attribute to limit CSS to this component only -->
<style scoped type='text/scss' lang='scss' rel='stylesheet/css'>
.el-menu {
  height: 100% !important;
  font-size: 16px;
  .logo {
    width: 100%;
    height: 64px;
    text-align: center;
    line-height: 64px;
    background: #ccc;
  }
  .el-submenu__title {
    font-size: 16px !important;
  }
}
.el-aside {
  height: 100%;
  line-height: 1;
}
.el-scrollbar__view {
  height: 100% !important;
  // padding: 20px;
  // box-sizing: border-box;
}
</style>
<style>
.el-asider {
  border-right: solid 1px #e6e6e6;
}

.el-menu,
.el-scrollbar__view .scrollbar__view {
  height: 100% !important;
}
.el-submenu {
  background: #ffffff;
}
.el-menu,
.el-submenu__title,
.el-submenu .el-menu-item {
  font-size: 16px !important;
  /* background: #ffffff; */
}
</style>

