<template>
  <div class="login-concrol">
    <div class="login-wrap">
      <div class="login-content">
        <h2>登录管理后台</h2>
        <div class="login-form">
          <el-form :model="formInline" :rules="rules" ref="formInline" class="demo-form-inline" label-width="80px">
            <el-form-item label="用户名：" prop="username">
              <el-input placeholder="请输入用户名" v-model="formInline.username"></el-input>
            </el-form-item>
            <el-form-item label="密码：" prop="password">
              <el-input type="password" placeholder="请输入密码" v-model="formInline.password"></el-input>
            </el-form-item>
          </el-form>
          <el-button class="login-btn" type="primary" size="large" @click="login('formInline')">登录</el-button>
        </div>
      </div>
    </div>
  </div>
</template>

<script type="text/ecmascript-6">
import { getAdminLogin } from '@/api/login'

export default {
  props: [],
  name: '',
  data() {
    return {
      formInline: {
        username: '',
        password: ''
      },
      rules: {
        username: [
          { required: true, message: '请输入用户名', trigger: 'blur' },
        ],
        password: [{ required: true, message: '请输入密码', trigger: 'blur' }]
      }
    }
  },
  components: {

  },
  computed: {

  },
  mounted() {

  },
  methods: {
    // 登录
    login(val) {
      this.$refs[val].validate(async valid => {
        if (valid) {
          try {
            let { data } = await getAdminLogin(this.formInline)
            console.log(data.status_code)
            this.$router.push({ path: '/' })
          } catch (error) {
            console.log(error)
          }
        } else {
          console.log('error submit!!')
          return false
        }
      })
    },
  }
}
</script>

<!-- Add 'scoped' attribute to limit CSS to this component only -->
<style scoped type='text/scss' lang='scss' rel='stylesheet/css'>
.login-concrol {
  width: 100%;
  height: 100%;
  background-image: url('https://img.alicdn.com/tps/TB1h9xxIFXXXXbKXXXXXXXXXXXX.jpg');
  background-size: cover;
}
.login-wrap {
  position: relative;
}
.login-content {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 35%;
  min-width: 450px;
  height: 320px;
  background: #fff;
  border-radius: 4px;
}
h2 {
  width: 100%;
  height: 60px;
  line-height: 60px;
  text-align: center;
  border-bottom: 1px solid #999;
}
.login-form {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}
.login-form .el-button {
  width: 100%;
  height: 40px;
}
</style>
