<template>
  <div class="dialog-container">
    <el-form :model="listForm" ref="ruleForm" :rules="ruleForm" label-position="left" label-width="100px" size="small">
      <el-row :gutter="10">
        <el-col :span="8">
          <el-form-item label="类型：" prop="receptionUser">
            <el-input disabled></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="8">
          <el-form-item label="标题：" prop="patientName">
            <el-input disabled></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="8">
          <el-form-item label="作者：" prop="patientName">
            <el-input disabled></el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row :gutter="10">
        <el-col :span="12">
          <el-form-item label="内容：" prop="receptionUser">
            <el-input type="textarea"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="减脂重量：" prop="receptionUser">
            <el-input type="textarea"></el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row :gutter="10">
        <el-col :span="24">
          <el-form-item label="图片：" prop="receptionUser">
            <el-input disabled></el-input>
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>
  </div>
</template>

<script type="text/ecmascript-6">
export default {
  props: ['listForm'],
  name: '',
  data() {
    return {

    }
  },
  components: {

  },
  computed: {

  },
  mounted() {

  },
  methods: {

  }
}
</script>

<!-- Add 'scoped' attribute to limit CSS to this component only -->
<style scoped type='text/scss' lang='scss' rel='stylesheet/css'>
</style>
