<template>
  <div class="main-circle">
    <main-top :title="'活动列表'" />
    <div class="section-content">
      <el-form inline label-width="110px" label-position="left">
        <el-form-item label="活动开始时间：">
          <el-input></el-input>
        </el-form-item>
        <el-form-item label="活动结束时间：">
          <el-input></el-input>
        </el-form-item>
        <el-form-item>
          <el-button class="search-btn" type="primary" @click="searchForm">搜索</el-button>
          <el-button class="search-btn" type="primary" @click="add()">新增</el-button>
        </el-form-item>
      </el-form>
    </div>
    <div class="section-content">
      <main-table :tableList="tableList" :tHeader="tH" @edit="editPage"></main-table>
      <main-page :pageList="pageList" @handleSizeChange="handleSizeChange" @handleCurrentChange="handleCurrentChange" />
    </div>
  </div>
</template>

<script type="text/ecmascript-6">
export default {
  props: [],
  name: '',
  data() {
    return {
      dialogVisible: true,
      dialogTitle: '',
      tableList: [],
      listForm: {},
      tH: [{
        prop: '',
        name: '用户名'
      }, {
        prop: '',
        name: '手机号'
      }, {
        prop: '',
        name: '内容'
      }, {
        prop: '',
        name: '发表时间'
      }, {
        prop: 'operations',
        name: '操作'
      }],
      pageList: {
        pageNum: 1,
        pageSize: 20,
        pages: 1,
        total: 1
      },
    }
  },
  components: {

  },
  computed: {

  },
  mounted() {

  },
  methods: {
    // 改变分页展示数据
    handleSizeChange(val) {
      this.pageList.pageSize = val
    },
    // 改变显示页数
    handleCurrentChange(val) {
      this.pageList.pageNum = val
    }
  }
}
</script>

<!-- Add 'scoped' attribute to limit CSS to this component only -->
<style scoped type='text/scss' lang='scss' rel='stylesheet/css'>
.el-form-item {
  margin-bottom: 0;
}
</style>
