<template>
  <div class="main-cont">
    <main-top :title="'健康习惯'" />
    <div class="section-content search-form">
      <el-form inline label-width="90px" label-position="left">
        <el-form-item label="类型：">
          <el-select>
            <el-option label="33" name="1"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item>
          <el-button class="search-btn" type="primary" @click="searchForm">搜索</el-button>
          <el-button class="search-btn" type="primary" @click="addHabit(dialogVisible = true)">添加</el-button>
        </el-form-item>
      </el-form>
    </div>
    <div class="section-content">
      <main-table :tableList="tableList" :tHeader="tH" @edit="editPage"></main-table>
      <main-page :pageList="pageList" @deletePage="deletePage" @handleSizeChange="handleSizeChange" @handleCurrentChange="handleCurrentChange" />
    </div>
    <main-dialog :title="'习惯修改'" :dialogFormVisible.sync="dialogVisible" @saveDialog="saveDialog">
      <HabitDialog :listForm="listForm"></HabitDialog>
    </main-dialog>
  </div>
</template>

<script type="text/ecmascript-6">
import { getHabitList, getHabitDetail, getHabitAdd, getHabitEdit, getHabitDel } from '@/api/habit'
import HabitDialog from './components/habitDialog'

export default {
  props: [],
  name: '',
  data() {
    return {
      dialogVisible: false,
      tableList: [],
      listForm: {},
      tH: [{
        prop: '',
        name: '类型'
      }, {
        prop: 'operations',
        name: '操作'
      }],
      pageList: {
        pageNum: 1,
        pageSize: 20,
        pages: 1,
        total: 1
      },
    }
  },
  components: {
    HabitDialog
  },
  computed: {

  },
  async created() {
    await this.habitList()
  },
  mounted() {

  },
  methods: {
    // 获取列表
    async  habitList() {
      try {
        let { data } = await getHabitList()
        let results = data
        let { total, per_page, current_page, total_pages } = results.meta.pagination
        let page = {
          current_page: pageNcurrent_pageum || 1,
          per_page: per_page || 20,
          total_pages: total_pages || 1,
          total: total || 1
        }
        this._.assign(this.pageList, page)
        this.tableList = results.data
      } catch (error) {
        console.log(error)
      }
    },
    // 删除数据
    async deletePage(rows) {
      try {
        let { data } = await getHabitDel()
        this.$message.sueecss('操作成功！')
      } catch (error) {
        console.log(error)
      }
    },
    // 保存成功
    async  saveDialog() {
      try {
        let { data } = await getHabitAdd()
        this.dialogVisible = false
      } catch (error) {
        console.log(error)
      }
    },
    // 改变分页展示数据
    handleSizeChange(val) {
      this.pageList.pageSize = val
    },
    // 改变显示页数
    handleCurrentChange(val) {
      this.pageList.pageNum = val
    }
  }
}
</script>

<!-- Add 'scoped' attribute to limit CSS to this component only -->
<style scoped type='text/scss' lang='scss' rel='stylesheet/css'>
.search-form {
  .el-form-item {
    margin-bottom: 0;
  }
  .search-btn,
  .el-button {
    width: 140px;
    height: 40px;
  }
}
</style>
