<template>
  <div class="main-cont">
    <div class="section-content">
      <el-form inline label-width="90px">
        <el-form-item label="订单编号：">
          <el-input></el-input>
        </el-form-item>
        <el-form-item label="下单人：">
          <el-input></el-input>
        </el-form-item>
        <el-form-item label="开始时间：">
          <el-input></el-input>
        </el-form-item>
        <el-form-item label="结束时间：">
          <el-input></el-input>
        </el-form-item>
        <el-form-item>
          <el-button class="search-btn" type="primary" @click="searchForm">搜索</el-button>
        </el-form-item>
      </el-form>
    </div>
    <div class="section-content">
      <main-table :tableList="tableList" :tHeader="tH" @edit="editPage"></main-table>
      <main-page :pageList="pageList" @handleSizeChange="handleSizeChange" @handleCurrentChange="handleCurrentChange" />
    </div>
  </div>
</template>

<script type="text/ecmascript-6">
import { getOrderList } from '@/api/order.js'
export default {
  props: [],
  name: '',
  data() {
    return {
      searchForm: {
        status: 0,
        keyword: '',
        bdate: '',
        edate: ''
      },
      tH: [{
        prop: 'ID',
        name: '订单编号'
      }, {
        prop: '',
        name: '下单人'
      }, {
        prop: '',
        name: '手机号'
      }, {
        prop: '',
        name: '购买商品x数量'
      }, {
        prop: '',
        name: '订单总额（人民币+积分）'
      }, {
        prop: '',
        name: '状态'
      }, {
        prop: '',
        name: '下单时间'
      }, {
        prop: '',
        name: '物流单号'
      }, {
        prop: '',
        name: '完成订单时间'
      }, {
        prop: 'operations',
        name: '操作'
      }],
      tableList: [{
        ID: '111'
      }, {
        ID: '111'
      }],
      pageList: {
        pageNum: 1,
        pageSize: 20,
        pages: 1,
        total: 1
      },
      listForm: {}
    }
  },
  components: {

  },
  computed: {

  },
  mounted() {

  },
  methods: {
    // 改变分页展示数据
    handleSizeChange(val) {
      this.pageList.pageSize = val
    },
    // 改变显示页数
    handleCurrentChange(val) {
      this.pageList.pageNum = val
    }
  }
}
</script>

<!-- Add 'scoped' attribute to limit CSS to this component only -->
<style scoped type='text/scss' lang='scss' rel='stylesheet/css'>
.el-form-item {
  margin-bottom: 0;
}
</style>
