<template>
  <div class="main-circle">
    <main-top :title="'积分规则'">
      <el-button class="search-btn" type="primary" @click="add">新增</el-button>
    </main-top>
    <div class="section-content">
      <main-table :tableList="tableList" :tHeader="tH" @edit="editPage"></main-table>
      <main-page :pageList="pageList" @handleSizeChange="handleSizeChange" @handleCurrentChange="handleCurrentChange" />
    </div>
  </div>
</template>

<script type="text/ecmascript-6">
export default {
  props: [],
  name: '',
  data() {
    return {
      dialogVisible: true,
      dialogTitle: '',
      tableList: [],
      listForm: {},
      tH: [{
        prop: '',
        name: '积分名称'
      }, {
        prop: '',
        name: '金额'
      }, {
        prop: '',
        name: '获得积分'
      }, {
        prop: '',
        name: '状态'
      }, {
        prop: 'operations',
        name: '操作'
      }],
      pageList: {
        pageNum: 1,
        pageSize: 20,
        pages: 1,
        total: 1
      },
    }
  },
  components: {

  },
  computed: {

  },
  mounted() {

  },
  methods: {
    // 改变分页展示数据
    handleSizeChange(val) {
      this.pageList.pageSize = val
    },
    // 改变显示页数
    handleCurrentChange(val) {
      this.pageList.pageNum = val
    }
  }
}
</script>

<!-- Add 'scoped' attribute to limit CSS to this component only -->
<style scoped type='text/scss' lang='scss' rel='stylesheet/css'>
.el-form-item {
  margin-bottom: 0;
}
</style>
