<template>
  <div>
    <!-- 调查问卷详情 -->
    <header>
      <span class='fanhui'></span>
      <span class='title'>头部</span>
    </header>
    <div id='main'>
    </div>
  </div>
</template>

<script type="text/ecmascript-6">
export default {
  props: [],
  name: '',
  data() {
    return {

    }
  },
  components: {

  },
  computed: {

  },
  mounted() {

  },
  methods: {

  }
}
</script>

<!-- Add 'scoped' attribute to limit CSS to this component only -->
<style scoped type='text/scss' lang='scss' rel='stylesheet/css'>
</style>
