<template>
  <div class="main-cont">
    <main-top :title="'精选'" />
    <div class="section-content search-form">
      <el-form inline label-width="90px" label-position="left">
        <el-form-item label="类型：">
          <el-select>
            <el-option label="33" name="1"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item>
          <el-button class="search-btn" type="primary" @click="searchForm">搜索</el-button>
          <el-button class="search-btn" type="primary" @click="add(dialogVisible = true)">添加</el-button>
        </el-form-item>
      </el-form>
    </div>
    <div class="section-content">

      <main-table :tableList="tableList" :tHeader="tH" @edit="editPage"></main-table>
      <main-page :pageList="pageList" @handleSizeChange="handleSizeChange" @handleCurrentChange="handleCurrentChange" />
    </div>
    <main-dialog :title="dialogTitle" :dialogFormVisible.sync="dialogVisible" @saveDialog="saveDialog">
      <LoseDialog :listForm="listForm"> </LoseDialog>
    </main-dialog>
  </div>
</template>

<script type="text/ecmascript-6">
import LoseDialog from './components/loseDialog'

export default {
  props: [],
  name: '',
  data() {
    return {
      dialogVisible: false,
      dialogTitle: '',
      tableList: [],
      listForm: {},
      tH: [{
        prop: '',
        name: '标题'
      }, {
        prop: '',
        name: '作者'
      }, {
        prop: '',
        name: '类型'
      }, {
        prop: 'operations',
        name: '操作'
      }],
      pageList: {
        pageNum: 1,
        pageSize: 20,
        pages: 1,
        total: 1
      },
    }
  },
  components: {
    LoseDialog
  },
  computed: {

  },
  mounted() {

  },
  methods: {
    // 改变分页展示数据
    handleSizeChange(val) {
      this.pageList.pageSize = val
    },
    // 改变显示页数
    handleCurrentChange(val) {
      this.pageList.pageNum = val
    }
  }
}
</script>

<!-- Add 'scoped' attribute to limit CSS to this component only -->
<style scoped type='text/scss' lang='scss' rel='stylesheet/css'>
.search-form {
  .el-form-item {
    margin-bottom: 0;
  }
  .search-btn,
  .el-button {
    width: 140px;
    height: 40px;
  }
}
</style>
