<template>
  <div class="main-lose-detail">
    <div class="section-content">
      <el-form label-width="90px">
        <el-form-item label="类型："></el-form-item>
        <el-form-item label="标题："></el-form-item>
        <el-form-item label="作者："></el-form-item>
        <el-form-item label="图片："></el-form-item>
        <el-form-item label="类型："></el-form-item>
        <el-form-item label="内容："></el-form-item>
        <el-form-item label="评论："></el-form-item>
      </el-form>
    </div>
  </div>
</template>

<script type="text/ecmascript-6">
export default {
  props: [],
  name: '',
  data() {
    return {

    }
  },
  components: {

  },
  computed: {

  },
  mounted() {

  },
  methods: {

  }
}
</script>

<!-- Add 'scoped' attribute to limit CSS to this component only -->
<style scoped type='text/scss' lang='scss' rel='stylesheet/css'>
</style>
