<template>
  <div class="main-cont">
    <main-top :title="'投诉处理'" />
    <div class="section-content">
      <el-tabs v-model="activeName" @tab-click="handleClick">
        <el-tab-pane label="投诉列表（未处理）" name="noHave">
          <main-table :tableList="tableNo" :tHeader="tHNo" @edit="editPage"></main-table>
        </el-tab-pane>
        <el-tab-pane label="投诉列表（已处理）" name="already">
          <main-table :tableList="tableAl" :tHeader="tHAl" @edit="editPage"></main-table>
        </el-tab-pane>
      </el-tabs>
      <main-page :pageList="pageList" @handleSizeChange="handleSizeChange" @handleCurrentChange="handleCurrentChange" />
    </div>
  </div>
</template>

<script type="text/ecmascript-6">
import { getComplainList } from '@/api/home'

export default {
  props: [],
  name: '',
  data() {
    return {
      activeName: 'noHave',
      tHNo: [{
        prop: 'realname',
        name: '用户名'
      }, {
        prop: 'mobile',
        name: '手机号'
      }, {
        prop: '',
        name: '注册时间'
      }, {
        prop: 'status',
        name: '投诉类型'
      }, {
        prop: '',
        name: '投诉内容'
      }, {
        prop: '',
        name: '投诉时间'
      }, {
        prop: 'operations',
        name: '操作'
      }],
      pageList: {
        pageNum: 1,
        pageSize: 20,
        pages: 1,
        total: 1
      },
      tHAl: [],
      tableNo: [],
      tableAl: []
    }
  },
  components: {

  },
  computed: {

  },
  async created() {
    await this.setTab()
  },
  mounted() {

  },
  methods: {
    setTab() {
      switch (this.activeName) {
        case 'noHave':
          let paramsNo = {
            status: 0
          }
          this.tabFun(paramsNo)
          break
        case 'already':
          let paramsAl = {
            status: 1
          }
          let tHAl = [...[], ...this.tHNo]
          tHAl.forEach((item, index) => {
            if (item.prop == 'operations') {
              tHAl.splice(index, 1)
            }
          })
          this.tHAl = tHAl
          this.tabFun(paramsAl)
          break
      }
    },
    async tabFun(val) {
      try {
        let params = this._.assign(val, this.pageList)
        let { data } = await getComplainList(params)
        let results = data
        let { total, per_page, current_page, total_pages } = results.meta.pagination
        let page = {
          current_page: pageNcurrent_pageum || 1,
          per_page: per_page || 20,
          total_pages: total_pages || 1,
          total: total || 1
        }
        if (this.activeName === 'noHave') {
          this.tableNo = results
        } else {
          this.tableAl = results
        }
        this._.assign(this.pageList, page)
      } catch (error) {
        console.log(error)
      }
    },
    handleClick(tab, event) {
      this.activeName = tab.name
      this.setTab()
    },
    // 改变分页展示数据
    handleSizeChange(val) {
      this.pageList.pageSize = val
      this.setTab()
    },
    // 改变显示页数
    handleCurrentChange(val) {
      this.pageList.pageNum = val
      this.setTab()
    }
  }
}
</script>

<!-- Add 'scoped' attribute to limit CSS to this component only -->
<style scoped type='text/scss' lang='scss' rel='stylesheet/css'>
</style>
