<template>
  <div class="main-content">
    <main-top :title="'积分报表'" />
    <div class="section-content">
      <el-form inline label-width="90px" label-position="left">
        <el-form-item label="手机号：">
          <el-input v-model="formInfo.keyword" placeholder="请输入"></el-input>
        </el-form-item>
        <el-form-item label="类型：">
          <el-select v-model="formInfo.type" placeholder="请选择">
            <el-option label="普通用户" value="1">普通用户</el-option>
            <el-option label="代理教练用户" value="2">代理教练用户</el-option>
            <el-option label="后台主动录入的教练" value="3">后台主动录入的教练</el-option>
          </el-select>
        </el-form-item>
        <el-form-item>
          <el-button class="search-btn" type="primary" @click="searchForm">搜索</el-button>
        </el-form-item>
      </el-form>
    </div>
    <div class="section-content">
      <main-table :tableList="tableList" :tHeader="tH" @edit="editPage"></main-table>
      <main-page :pageList="pageList" @handleSizeChange="handleSizeChange" @handleCurrentChange="handleCurrentChange" />
    </div>
    <main-dialog :title="'积分修改'" :dialogFormVisible.sync="dialogVisible" @saveDialog="saveDialog">
      <JiFenDialog :listForm="listForm"></JiFenDialog>
    </main-dialog>
  </div>
</template>

<script type="text/ecmascript-6">
import { getIntegralReport, getIntegralDetail, getIntegralEdit } from '@/api/home'
import JiFenDialog from './components//jiFenDialog'

export default {
  props: [],
  name: '',
  data() {
    return {
      dialogVisible: false,
      formInfo: {
        keyword: '',
        type: ''
      },
      tH: [{
        prop: 'nickname',
        name: '用户名'
      }, {
        prop: '',
        name: '总积分'
      }, {
        prop: '',
        name: '已使用积分'
      }, {
        prop: '',
        name: '剩余积分'
      }, {
        prop: 'operations',
        name: '操作'
      }],
      tableList: [{
        ID: '111'
      }, {
        ID: '111'
      }],
      pageList: {
        total: 1,
        per_page: 20,
        current_page: 1,
        total_pages: 1,
        pages: 1,
      },
      listForm: {}
    }
  },
  components: {
    JiFenDialog
  },
  computed: {

  },
  async  created() {
    await this.initReport()
  },
  mounted() {
  },
  methods: {
    async initReport() {
      try {
        let params = this._.assign(this.formInfo, this.pageList)
        let data = await getIntegralReport(params)
        let results = data
        let { total, per_page, current_page, total_pages } = results.meta.pagination
        let page = {
          current_page: pageNcurrent_pageum || 1,
          per_page: per_page || 20,
          total_pages: total_pages || 1,
          total: total || 1
        }
        this._.assign(this.pageList, page)
        this.tableList = results.data
      } catch (error) {
        console.log(error);
      }
    },
    // 搜索
    searchForm() {
      this.initReport()
    },
    // 修改积分
    async editPage(index, rows) {
      try {
        let { data } = await getIntegralDetail({ id: rows.id })
        let results = data
        this.listForm = results
        this.dialogVisible = true
      } catch (error) {
        console.log(error)
      }
    },
    // 保存修改
    async saveDialog() {
      try {
        let params = {
          id: '',
          integral: '',
          balance: ''
        }
        let { data } = await getIntegralEdit(params)
        this.dialogVisible = false
      } catch (error) {
        console.log(error)
      }
    },
    // 改变分页展示数据
    handleSizeChange(val) {
      this.pageList.pageSize = val
      this.initReport()
    },
    // 改变显示页数
    handleCurrentChange(val) {
      this.pageList.pageNum = val
      this.initReport()
    }
  }
}
</script>

<!-- Add 'scoped' attribute to limit CSS to this component only -->
<style scoped type='text/scss' lang='scss' rel='stylesheet/css'>
.el-form-item {
  margin-bottom: 0;
}
.search-btn,
.el-button {
  width: 140px;
  height: 40px;
}
</style>
