<template>
  <div class="main-content">
    <main-top :title="'可视报表'" />
    <div class="section-content">
      <div class="card-list">
        <el-row :gutter="20">
          <el-col :span="6">
            <el-card shadow="hover">
              <p class="card-panel-text">用户总注册（人）</p>
              <count-to :start-val="0" :end-val="register.total_register" :duration="2600" class="card-panel-num"></count-to>
            </el-card>
          </el-col>
          <el-col :span="6">
            <el-card shadow="hover">
              <p class="card-panel-text">今天新注册（人）</p>
              <count-to :start-val="0" :end-val="register.today_register" :duration="3000" class="card-panel-num"></count-to>
            </el-card>
          </el-col>
        </el-row>
      </div>
    </div>
    <div class="section-content chart-map">
      <ve-map :data="chartData" :settings="chartSettings"></ve-map>
    </div>
  </div>
</template>

<script type="text/ecmascript-6">
import CountTo from 'vue-count-to'
import { getReportList } from '@/api/home'

export default {
  props: [],
  name: '',
  data() {
    this.chartSettings = {
      position: 'province/beijing',
      labelMap: {
        'people': '人口'
      }
    }
    return {
      register: {
        total_register: 22,
        today_register: 0,
      },
      chartData: {
        columns: ['name', 'value'],
        rows: [
          { 'name': '济南市', 'value': 422222 },
          { '位置': '密云区', 'people': 1223 },
          { '位置': '平谷区', 'people': 2123 },
          { '位置': '海淀区', 'people': 4123 }
        ]
      }
    }
  },
  components: {
    CountTo
  },
  computed: {

  },
  mounted() {
    this.initReport()
  },
  methods: {
    async initReport() {
      try {
        let data = await getReportList()
        let results = data.data
        this._.assign(this.register)
        this.chartData.rows = results.map.data
      } catch (error) {
        console.log(error)
      }
    }
  }
}
</script>

<!-- Add 'scoped' attribute to limit CSS to this component only -->
<style scoped type='text/scss' lang='scss' rel='stylesheet/css'>
.card-list {
  text-align: center;
}
.card-panel-text {
  color: #9b9b9b;
  font-size: 20px;
}
.card-panel-num {
  display: block;
  color: #231815;
  font-size: 30px;
}
</style>
