[v-cloak] {
  display: none;
}

html,
body {
  // min-width: 1070px;
  background-color: #f5f6fa;
  font-family: PingFangSC-Light, helvetica neue, hiragino sans gb, arial,
    microsoft yahei ui, microsoft yahei, simsun, sans-serif !important;
  width: 100%;
  height: 100%;
  font-size: 14px;
  color: #000000;
  margin: 0;
  padding: 0;
}

/***
** 设置全局样式
**/
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
  overflow: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

a,
a:hover,
a:focus {
  text-decoration: none;
  color: #6e6e6e;
}

input:focus {
  outline: none;
}

select:focus {
  -webkit-user-select: none;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

input::-ms-clear,
::-ms-reveal {
  display: none;
}

ul li {
  list-style-type: none;
}
