<template>
  <div class="dialog-container">
    <el-form :model="listForm" ref="ruleForm" :rules="ruleForm" label-position="left" label-width="100px" size="small">
      <el-row :gutter="10">
        <el-col :span="12">
          <el-form-item label="用户名：" prop="receptionUser">
            <el-input disabled></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="手机号：" prop="patientName">
            <el-input disabled></el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row :gutter="10">
        <el-col :span="24">
          <el-form-item label="积分：">
            <el-radio-group v-model="listForm.balance">
              <el-radio :label="1">增加</el-radio>
              <el-radio :label="-1">减少</el-radio>
            </el-radio-group>
            <el-input v-model="listForm.integral"></el-input>
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>
  </div>
</template>

<script type="text/ecmascript-6">
export default {
  props: ['listForm'],
  name: '',
  data() {
    return {

    }
  },
  components: {

  },
  computed: {

  },
  mounted() {

  },
  methods: {

  }
}
</script>

<!-- Add 'scoped' attribute to limit CSS to this component only -->
<style scoped type='text/scss' lang='scss' rel='stylesheet/css'>
</style>
