<template>
  <div class="main-dialog">
    <el-dialog :title="title" :visible.sync="dialogFormVisible" :close-on-click-modal="false" append-to-body width="60%" :before-close="handleClose">
      <slot></slot>
      <span slot="footer" class="dialog-footer">
        <el-button @click="handleClose">取 消</el-button>
        <el-button type="primary" @click="saveDialog">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script type="text/ecmascript-6">
export default {
  props: ['title', 'dialogFormVisible'],
  name: '',
  data() {
    return {

    }
  },
  components: {

  },
  computed: {

  },
  mounted() {

  },
  methods: {
    handleClose() {
      this.$emit('update:dialogFormVisible', false)
    },
    saveDialog() {
      this.$emit('saveDialog')
    }
  }
}
</script>

<!-- Add 'scoped' attribute to limit CSS to this component only -->
<style type='text/scss' lang='scss' rel='stylesheet/css'>
/***
** dialog 公共表单样式调整
**/
.dialog-container {
  color: #333333;
  font-size: 16px;
  .el-dialog__title {
    text-align: left !important;
  }
  .el-dialog__footer {
    padding-right: 50px !important;
    text-align: right !important;
  }
  .el-form-item__content {
    margin-left: 0 !important;
  }
  .el-form-item__label {
    float: none;
    padding: 0 10px 0 0;
  }
  .el-select,
  .el-input {
    width: 100%;
    height: 40px;
  }
  .el-input--small .el-input__inner {
    height: 40px;
    line-height: 40px;
  }
}

.main-dialog {
  .el-dialog {
    min-width: 750px;
    border-radius: 12px;
  }
  .el-dialog__header {
    height: 80px;
    line-height: 80px;
    border-bottom: 1px solid #c7cad6;
    padding: 0px 50px 0px 50px;
  }
  .el-dialog__title {
    line-height: 20px;
    font-size: 20px;
    color: #000000;
    font-weight: 600;
  }
  .el-dialog__headerbtn .el-dialog__close {
    font-size: 30px;
    padding-top: 4px;
    padding-right: 26px;
    // color: #000000;
  }
  .el-dialog__body {
    padding: 20px 50px 30px;
  }
}
</style>
