<template>
  <div class="main-top">
    <div class="main-title">
      <p>
        <i v-if="isBack" class="el-icon-arrow-left" @click="goBack">&nbsp;&nbsp;返回上一步&nbsp;&nbsp;</i>
        <span>{{title}}</span>
      </p>
    </div>
    <div class="main-btn">
      <slot></slot>
    </div>
  </div>
</template>

<script type="text/ecmascript-6">
export default {
  props: ['title', 'isBack'],
  name: 'top',
  data() {
    return {

    }
  },
  components: {

  },
  computed: {

  },
  mounted() {

  },
  methods: {
    goBack() {
      this.$router.go(-1)
    }
  }
}
</script>

<!-- Add 'scoped' attribute to limit CSS to this component only -->
<style scoped type='text/scss' lang='scss' rel='stylesheet/css'>
.main-top {
  padding: 10px 20px;
  margin-bottom: 20px;
  border-radius: 6px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .main-title {
    font-size: 14px;
    p {
      color: #009688;
      i {
        cursor: pointer;
        font-size: 16px;
        font-weight: 500;
      }
      span {
        font-size: 16px;
      }
    }
  }
  .el-button {
    width: 120px;
    height: 40px;
  }
}
</style>
