<template>
  <div class="main-table">
    <el-table :data="tableList" stripe border size="medium" tooltip-effect="dark" style="width: 100%" :header-cell-style="{'background':'#f5f6fa'}">
      <el-table-column type="index" label="ID"></el-table-column>
      <template v-for="(column,index) in tHeader">
        <el-table-column fixed="right" v-if="column.prop == 'operations'" :prop="column.prop" :key="index" :label="column.name" :width="column.width" align="center">
          <template slot-scope="scope">
            <div v-if="$route.name == 'integral-reports'">
              <el-button :disabled="btnDis(scope.row.orderState)" type="text" @click="edit(scope.$index, scope.row)">编辑</el-button>
            </div>
            <div v-else-if="$route.name == 'habit-list'">
              <el-button class="edit" type="text" @click="editHabit(scope.$index, scope.row)">编辑</el-button>
              <el-button class="del" type="text" @click="deletePage(scope.$index, scope.row)">删除</el-button>
            </div>
            <div v-else-if="$route.name == 'lose-expert'">
              <el-button class="edit" type="text" @click="editLose(scope.$index, scope.row)">编辑</el-button>
              <el-button class="del" type="text" @click="delLose(scope.$index, scope.row)">删除</el-button>
              <el-button class="detail" type="text" @click="detailLose(scope.$index, scope.row)">查看</el-button>
            </div>
            <div v-else-if="$route.name == 'circle-log'">
              <el-button class="del" type="text" @click="delCircle(scope.$index, scope.row)">删除</el-button>
              <el-button class="edit" type="text" @click="detailCircle(scope.$index, scope.row)">查看</el-button>
            </div>
          </template>
        </el-table-column>
        <el-table-column v-else :prop="column.prop" :key="index" :label="column.name" :show-overflow-tooltip="true"></el-table-column>
      </template>
    </el-table>
  </div>
</template>

<script type="text/ecmascript-6">
export default {
  props: ['tableList', 'tHeader'],
  name: '',
  data() {
    return {

    }
  },
  components: {

  },
  computed: {

  },
  mounted() {

  },
  methods: {
    btnDis() {

    },
    edit(index, rows) {
      this.$emit('edit', rows)
    },
    deletePage(index, rows) {
      this.$alert('确定删除，删除后将不再恢复？', '提示', {
        confirmButtonText: '确定',
        callback: async action => {
          if (action === 'confirm') {
            this.$emit('deletePage', rows)
          }
        }
      })
    }
  }
}
</script>

<!-- Add 'scoped' attribute to limit CSS to this component only -->
<style scoped type='text/scss' lang='scss' rel='stylesheet/css'>
.edit,
.detail {
  color: #009688;
}
.del {
  color: #f52d53;
}
.el-button {
  padding: 0;
  margin: 0;
}
</style>
