<template>
  <div class="pages">
    <el-pagination backgrund @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="Number(pageList.pageNum)" :page-sizes="pageSizes" :page-size="Number(pageList.pageSize)" :total="pageList.total" layout="total, sizes, prev, pager, next, jumper" />
  </div>
</template>

<script type="text/ecmascript-6">
export default {
  props: ['pageList', 'currentPage'],
  name: '',
  data() {
    return {
      pageSizes: [10, 15, 20, 30, 40, 200]
    }
  },
  components: {

  },
  computed: {

  },
  mounted() {

  },
  methods: {
    // 改变显示数量
    handleSizeChange(val) {
      this.$emit('handleSizeChange', val)
    },
    // 改变分页
    handleCurrentChange(val) {
      this.$emit('handleCurrentChange', val)
    }
  }
}
</script>

<!-- Add 'scoped' attribute to limit CSS to this component only -->
<style scoped type='text/scss' lang='scss' rel='stylesheet/css'>
.pages {
  padding-top: 20px;
  padding-bottom: 10px;
  text-align: right;
  box-sizing: border-box;
}
</style>
<style>
.el-pagination {
  vertical-align: middle !important;
}
.el-pagination span:not([class*='suffix']),
.el-pagination button,
.el-pager li {
  height: 40px;
  line-height: 40px;
}

.el-pager li,
.el-pagination .btn-prev,
.el-pagination .btn-next,
.el-pagination button:disabled {
  background: #ffffff;
}
</style>
