/* 改变主题色变量 */
$--color-primary: #009688;

/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import '~element-ui/packages/theme-chalk/src/index';

// 菜单颜色
.el-menu-item.is-active {
  border-right: 2px solid $--color-primary;
  background: #f5f6fa !important;
}
