<template>
  <div id="app">
    <el-container style="height: 100%;" v-if="hasSidebar">
      <SliderBar />
      <el-container class="content">
        <el-header>
          <HeaderTop />
        </el-header>
        <el-main>
          <router-view />
        </el-main>
      </el-container>
    </el-container>
    <router-view v-else />
  </div>
</template>

<script type="text/ecmascript-6">
import SliderBar from '@/pages/layout/SliderBar.vue'
import HeaderTop from '@/pages/layout/HeaderTop.vue'

export default {
  name: 'App',
  components: {
    SliderBar,
    HeaderTop
  },
  data() {
    return {
    }
  },
  computed: {
    hasSidebar() {
      let url = window.document.location.pathname
      return ['/login', '/404'].indexOf(url) < 0
    }
  },
  mounted() {
    let token = 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJodHRwOi8vbHlzLm14LmNvbS9hcGkvYWRtaW4vbG9naW4iLCJpYXQiOjE1NTA4MDM4NDksImV4cCI6MTYwNDgwMzg0OSwibmJmIjoxNTUwODAzODQ5LCJqdGkiOiJsMG1tY1lWZlo3TW9Hd0l0Iiwic3ViIjoxLCJwcnYiOiJkZjg4M2RiOTdiZDA1ZWY4ZmY4NTA4MmQ2ODZjNDVlODMyZTU5M2E5In0.jB-gRlXqSM2xy5fCa-YoqNPlRunK6eFLsU88X5H6Ndc'
    window.localStorage.setItem('token', token)
  }
}
</script>

<style lang="scss" scoped>
.content {
  min-width: 1100px;
  overflow: auto;
}
.el-header {
  background: #ffffff;
  height: 64px !important;
  box-shadow: 0 0 5px #cdcdcd;
  z-index: 99;
}

.el-main {
  min-width: 900px;
}
</style>

<style lang="scss">
.section-content {
  background: #ffffff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 6px;
}
.search-btn {
  width: 140px;
  height: 40px;
}
.el-scrollbar__view {
  height: 100% !important;
}
.el-scrollbar__wrap {
  overflow-x: auto;
}
.el-select-dropdown {
  margin-bottom: 0;
  .el-popper {
    margin-bottom: 0;
  }
}
.el-select-dropdown__wrap {
  margin-bottom: 0;
  .el-scrollbar__wrap {
    margin-bottom: 0 !important;
  }
}
.el-scrollbar__wrap {
  margin-bottom: 0 !important;
}
</style>
